--- 
# required metadata 
 
title: Employment verification i9 verification
description: The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees. 
author: ShielaSogge
ms.date: 08/29/2018
ms.topic: business-process 
ms.prod:  
ms.technology:  

# optional metadata 

ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document   
audience: Application User 
# ms.devlang:  
ms.reviewer: kfend
# ms.tgt_pltfrm:  
# ms.custom:  
ms.search.region: Global
# ms.search.industry: 
ms.author: shielas
ms.search.validFrom: 2016-06-30 
ms.dyn365.ops.version: Version 7.0.0

---
# Employment verification i9 verification

[!include [banner](../../../includes/banner.md)]

The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees. This procedure will walk you through the steps of recording the necessary documents for I-9 verification. Use the USMF company for this procedure.

1. Go to Human resources > Workers > Employees.
2. Use the Quick Filter to find records. For example, filter on the Name field with a value of 'Vince'.
3. Select the employee. Example: Vince Prado
4. Expand the Personal information FastTab.
5. Click Identification numbers.
6. Click New.
7. Select the identification type that you are recording. Example: Passport
8. In the Number field, type a value.
9. Select Yes in the Primary field.
10. In the Description field, enter a brief description of the identification record..
11. In the issuing agency select the agency that issued the form of identification to the worker. Example: Government
12. Enter the date that the issuing agency issued the form of identification to the worker. Example: 02/15/2011
13. Enter the date when the form of identification expires. Example: 2/15/2021
14. Click Save.
15. Close the page.
16. Click the Employment tab.
17. Click I-9.
18. Click New.
19. In the Work eligibility field, select an option.
    * If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.  
20. Select the GroupListA option.
    * The list that you select depends on what form of identification the worker provided. A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected. However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.  
21. In the I-9 document type field, select the type of document that the worker provided.
22. In the Document number field, enter or select a value.
23. Click Save.



<!---
title: Überprüfung der Beschäftigungsüberprüfung i9
description: Aufgrund des Immigration Reform and Control Acts (IRCA) sind Arbeitgeber in den USA dazu verpflichtet, den Status der Beschäftigungsberechtigung neuer Mitarbeiter zu prüfen.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 7b5d0bfdee219b5003a3fdf62f81890bb81aecad
ms.sourcegitcommit: f5e31c34640add6d40308ac1365cc0ee60e60e24
ms.translationtype: HT
ms.contentlocale: 
ms.lasthandoff: 12/08/2020
ms.locfileid: "4694211"
---
# <a name="employment-verification-i9-verification"></a>Überprüfung der Beschäftigungsüberprüfung i9

[!include [banner](../../../includes/banner.md)]

Aufgrund des Immigration Reform and Control Acts (IRCA) sind Arbeitgeber in den USA dazu verpflichtet, den Status der Beschäftigungsberechtigung neuer Mitarbeiter zu prüfen. Diese Prozedur führt Sie durch die Schritte zum Erfassen der erforderlichen Dokumente für die I-9-Überprüfung. Für diese Prozedur wird das Unternehmen USMF verwendet.

1. Wechseln Sie zu "Personalverwaltung" > "Arbeitskräfte" > "Mitarbeiter".
2. Verwenden Sie den Schnellfilter, um Datensätze zu suchen. Filtern Sie beispielsweise im Feld "Name" mit einem Wert "Vince".
3. Wählen Sie den betreffenden Mitarbeiter aus. Beispiel: Vince Prado
4. Erweitern Sie das Inforegister der "Persönliche Informationen".
5. Klicken Sie auf "Kennnummern".
6. Klicken Sie auf Neu.
7. Wählen Sie den Kennungstyp aus, den Sie aufzeichnen. Beispiel: Ausweis
8. Geben Sie im Feld "Zahl" einen Wert ein.
9. Wählen Sie "Ja" im Feld "Primär" aus.
10. Geben Sie im Feld "Beschreibung" eine kurze Beschreibung des Kennungsdatensatzes ein.
11. Wählen Sie für die ausstellende Stelle die Behörde aus, von der der Identitätsnachweis für die Arbeitskraft ausgestellt wurde. Beispiel: Behörde
12. Wählen Sie das Datum aus, an dem die ausstellende Stelle den Identitätsnachweis für die Arbeitskraft ausgestellt hat. Beispiel: 15. 02. 2011
13. Geben Sie das Ablaufdatum des Identitätsnachweises ein. Beispiel: 15.02.2021
14. Klicken Sie auf "Speichern".
15. Schließen Sie die Seite.
16. Klicken Sie auf die Registerkarte "Anstellung".
17. Klicken auf "I-9".
18. Klicken Sie auf "Neu".
19. Wählen Sie im Feld "Arbeitsberechtigung" eine Option aus.
    * Ist der Mitarbeiter kein Bürger oder Staatsangehöriger der USA, müssen Sie die Nummer der Aufenthaltsgenehmigung des Mitarbeiters angeben.  
20. Wählen Sie die Option "GroupListA" aus.
    * Die Liste, die Sie auswählen, hängt davon ab, welche Form der Identifizierung die Arbeitskraft angegeben hat. Eine Arbeitskraft muss ein Liste A-Dokument oder ein Dokument aus der Liste B und C bereitstellen. Beispiel: Wenn die Arbeitskraft einen Personalausweis bereitgestellt hat, dann könnte Liste A ausgewählt werden. Wenn die Arbeitskraft jedoch nur Führerschein und Sozialversicherungsausweis vorgelegt hat, dann muss Liste B und C ausgewählt werden.  
21. Wählen Sie im Feld "I-9-Dokumenttyp" die Art des von der Arbeitskraft vorgelegten Dokuments aus.
22. Geben Sie im Feld "Dokumentnummer" einen Wert ein oder wählen Sie einen Wert aus.
23. Klicken Sie auf "Speichern".

--->